<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jz.dao.SteamApiMapper">
  <resultMap id="BaseResultMap" type="org.jz.model.steam.Api.SteamApi">
    <id column="OID" jdbcType="INTEGER" property="oid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="OITIME" jdbcType="TIMESTAMP" property="oitime" />
    <result column="OUTIME" jdbcType="TIMESTAMP" property="outime" />
    <result column="IS_DEL" jdbcType="CHAR" property="isDel" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.jz.model.steam.SteamApi">
    <result column="METHODS" jdbcType="LONGVARCHAR" property="methods" />
  </resultMap>
  <sql id="Base_Column_List">
    OID, NAME, OITIME, OUTIME, IS_DEL
  </sql>
  <sql id="Blob_Column_List">
    METHODS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ext_steam_api
    where OID = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ext_steam_api
    where OID = #{oid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.jz.model.steam.SteamApi">
    insert into ext_steam_api (OID, NAME, OITIME,
      OUTIME, IS_DEL, METHODS
      )
    values (#{oid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{oitime,jdbcType=TIMESTAMP},
      #{outime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=CHAR}, #{methods,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.jz.model.steam.SteamApi">
    insert into ext_steam_api
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="oitime != null">
        OITIME,
      </if>
      <if test="outime != null">
        OUTIME,
      </if>
      <if test="isDel != null">
        IS_DEL,
      </if>
      <if test="methods != null">
        METHODS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="oitime != null">
        #{oitime,jdbcType=TIMESTAMP},
      </if>
      <if test="outime != null">
        #{outime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=CHAR},
      </if>
      <if test="methods != null">
        #{methods,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.jz.model.steam.SteamApi">
    update ext_steam_api
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="oitime != null">
        OITIME = #{oitime,jdbcType=TIMESTAMP},
      </if>
      <if test="outime != null">
        OUTIME = #{outime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        IS_DEL = #{isDel,jdbcType=CHAR},
      </if>
      <if test="methods != null">
        METHODS = #{methods,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where OID = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.jz.model.steam.SteamApi">
    update ext_steam_api
    set NAME = #{name,jdbcType=VARCHAR},
      OITIME = #{oitime,jdbcType=TIMESTAMP},
      OUTIME = #{outime,jdbcType=TIMESTAMP},
      IS_DEL = #{isDel,jdbcType=CHAR},
      METHODS = #{methods,jdbcType=LONGVARCHAR}
    where OID = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jz.model.steam.SteamApi">
    update ext_steam_api
    set NAME = #{name,jdbcType=VARCHAR},
      OITIME = #{oitime,jdbcType=TIMESTAMP},
      OUTIME = #{outime,jdbcType=TIMESTAMP},
      IS_DEL = #{isDel,jdbcType=CHAR}
    where OID = #{oid,jdbcType=INTEGER}
  </update>

  <select id="getAllApis" resultMap="BaseResultMap">
    SELECT * FROM ext_steam_api WHERE IS_DEL = '0'
  </select>

  <delete id="delAll">
    DELETE FROM ext_steam_api;
  </delete>
</mapper>